*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;

}

body{

background:#fff;

}

/* Navbar */

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:12px 60px;

background:#d9d9d9;

}

.logo img{

width:60px;

}

nav ul{

display:flex;
list-style:none;

}

nav ul li{

margin-left:40px;

}

nav ul li a{

text-decoration:none;
color:#000;

}

nav ul li a:hover{

color:#37b9dc;

}


/* Login */

.login-section{

display:flex;
justify-content:center;
align-items:center;

padding:60px 20px;

}

.login-box{

width:430px;

border:1px solid #ccc;

padding:40px;

text-align:center;

border-radius:5px;

}

.user{

font-size:65px;

color:#37b9dc;

margin-bottom:15px;

}

.login-box h2{

font-size:34px;

margin-bottom:10px;

}

.login-box p{

margin-bottom:25px;

color:#555;

}

form{

text-align:left;

}

label{

font-weight:bold;

display:block;

margin-bottom:8px;

}

input{

width:100%;

padding:12px;

margin-bottom:18px;

border:1px solid #bbb;

border-radius:4px;

outline:none;

}

input:focus{

border:1px solid #37b9dc;

}

.forgot{

margin-bottom:20px;

}

.forgot a{

font-size:14px;

color:#37b9dc;

text-decoration:none;

}

button{

width:100%;

padding:13px;

background:#37b9dc;

color:white;

border:none;

border-radius:4px;

cursor:pointer;

font-size:16px;

}

button:hover{

background:#239fc1;

}

.line{

display:flex;

align-items:center;

margin:25px 0;

}

.line hr{

flex:1;

}

.line span{

padding:0 10px;

color:#666;

}

.register{

text-align:center;

margin-bottom:15px;

}

.register-btn{

display:block;

width:170px;

margin:auto;

padding:10px;

text-align:center;

text-decoration:none;

border:1px solid #37b9dc;

color:#37b9dc;

border-radius:4px;

}

.register-btn:hover{

background:#37b9dc;

color:#fff;

}


/* Footer */

footer{

display:flex;

justify-content:space-around;

padding:20px;

border-top:1px solid #ccc;

margin-top:60px;

}

.footer-item{

display:flex;

align-items:center;

}

.footer-item i{

color:#37b9dc;

font-size:22px;

margin-right:10px;

}

.copy{

text-align:center;

padding:15px;

font-size:14px;

}


/* Responsive */

@media(max-width:768px){

nav{

flex-direction:column;

}

nav ul{

margin-top:15px;

}

footer{

flex-direction:column;

gap:15px;

}

.login-box{

width:95%;

}

}